In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Purchased_Dataset.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.shape

(400, 5)

In [8]:
X = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=5)
knnClassifier = KNeighborsClassifier(n_neighbors=5)
knnClassifier.fit(X_train,y_train)
pred = knnClassifier.predict(X_test)
metrics.accuracy_score(y_test,pred)

0.77

In [14]:
X_train.head()

     Age  EstimatedSalary
24    46            23000
33    28            44000
396   51            23000
273   39           106000
246   35            50000

In [16]:
# Changing Random State
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=6)
knnClassifier = KNeighborsClassifier(n_neighbors=5)
knnClassifier.fit(X_train,y_train)
pred = knnClassifier.predict(X_test)
metrics.accuracy_score(y_test,pred)

0.81

In [18]:
# Applying k fold cross validation 
from sklearn.model_selection import cross_val_score
knnclassifier = KNeighborsClassifier(n_neighbors=5)
cross_val_score(knnclassifier,X,y,cv=10,scoring='accuracy').mean()

0.777171669793621

In [21]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
cross_val_score(logreg,X,y,cv=10,scoring='accuracy').mean()

0.6499937460913072

In [23]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
cross_val_score(gnb,X,y,cv=10,scoring='accuracy').mean()

0.8775719199499689

In [25]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
cross_val_score(rfc,X,y,cv=10,scoring='accuracy').mean()

0.8773889931207004

In [27]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
cross_val_score(dtc,X,y,cv=10,scoring='accuracy').mean()

0.8273733583489682

In [32]:
# from the above classifier naive_bayes and random forest outperformed